/*CSS Reset*/
/*a way for devs to remove any predefined dimensions set by the browser. This is to avoid hassle in managing the space that will be used for the layout of the webpage*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*using google fonts for stylng the body texts*/
body{
	font-family: "open sans", sans-serif;
}

/*NAV Section*/
nav{
	/*padding is a shorthand for padding-top, padding-bottom, padding-left, and padding-right. so lahat ng sides iapply yung nakalagay sa padding. kung iibahin yung size ng ibang sides, saka lang ispecify*/
	padding: .8rem;
	margin-bottom: 2rem;
	/*margin-space between the elements and outside the borders*/
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*padding ba or margin?*/
	/*if you want to increase/decrease the space of the content to the border, manage the padding. If you want to manage the spacing in between the elements, increase/decrease the margin of the elements*/

/*we can also select multiple combination selectors with the use of comma*/
nav .nav, nav .nav-logo{
	/*margin creates space arund the element but outside its border*/
	margin: .5rem;
	/*ang default ng li ay list pababa kasi block element sila, but in this case, nagkatabi-tabi sila because of the use of display: inline*/
	display: inline;
}

/*INFO Section*/

/*when we have different measuremens for each side, the measurement for each side can be used*/
#intro{
	/*percent value is used for the padding/margin to use the relative measurements of the screen of the user*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2 rem;
	padding-bottom: 3rem;
	/*shorthand for padding with  the same right and left measurement*/
		/*padding:  2 rem 10% 3 rem*/
		/* pg 4 values, shorthand order ay top, right, bottom, left or clockwise direction from top*/
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	/*font weight - used to change th thickness of the text element*/
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*SUCCEED Info Section*/
#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
	/*to create space between the header and the card*/
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
	/*creates space between the h3 and the p element in each card*/
}

#succeed-info .card{
	display: inline-block;
	/*inline block allows the cards to appear next to each other*/
		/*inline - consuming only the content width of the element pero si inline block consumes the full width of the webpage regardless of the content widht*/
			/*inline block works as inline for its siblings but works as block element for the elements outside its parent element*/
	vertical-align: top;
	/*aligns the elements at the top of their container*/
	min-height: 175px;
	width: 30%;
	/*width means that each card will only use 30% of the screen size*/
		/*ito yung importance ng % kasi relative siya sa screen size ng users, tapos 30% lang para sa margins*/
	margin-left: .5rem;
	margin-right: .5rem;
}

/*FOOTER Section*/
footer{
	padding: .7rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	/*shorthand pag dalawang value for the margin, first is top and bottom and second is left and right. in this case:  margin:  0 .5rem, meaning 0 un top and bottom at .5rem naman un left and right*/
}




