*{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "open sans", sans-serif;
	margin-left: 0;
	margin-right: 0;
}

.header{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#succeed-info{
	padding: 2rem 10% 3rem;
	margin-bottom: 2rem;
}

#succeed-info h2{
	margin-bottom: 3rem;
}

#succeed-info h3{
	margin-top: 2rem;
	text-align: left;
	margin-bottom: 1rem;
}

#pre-footer{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: teal;
}

#pre-footer div{
	display: inline-block;
	horizontal-align: top;
	vertical-align: top;
	min-height: 80px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
	color: white;
}

}
footer{
	padding: 2rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}
